## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)
# print(g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Weather_Database/vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,6,Cockburn Town,TC,81.68,21.4612,-71.1419,Osprey Beach Hotel
1,10,Casian,PH,84.45,11.0350,119.7136,Osprey Beach Hotel
2,19,Kapaa,US,84.18,22.0752,-159.3190,Osprey Beach Hotel
3,26,The Valley,AI,82.09,18.2170,-63.0578,Osprey Beach Hotel
4,29,Butaritari,KI,82.56,3.0707,172.7902,Osprey Beach Hotel
5,31,Edgewater,US,82.09,28.9889,-80.9023,Osprey Beach Hotel
6,34,Nhulunbuy,AU,84.81,-12.2333,136.7667,Osprey Beach Hotel
7,61,North Myrtle Beach,US,81.10,33.8160,-78.6800,Osprey Beach Hotel
8,63,Hilo,US,84.27,19.7297,-155.0900,Osprey Beach Hotel
9,64,Samarai,PG,79.86,-10.6167,150.6667,Osprey Beach Hotel
10,69,Tucurui,BR,78.87,-3.7661,-49.6725,Osprey Beach Hotel
11,74,Hailar,CN,80.08,49.2000,119.7000,Osprey Beach Hotel
12,76,Mahishadal,IN,81.21,22.1833,87.9833,Osprey Beach Hotel
13,78,Hithadhoo,MV,81.90,-0.6000,73.0833,Osprey Beach Hotel
14,83,Islampur,IN,79.77,26.2667,88.2000,Osprey Beach Hotel
15,87,Brigantine,US,81.19,39.4101,-74.3646,Osprey Beach Hotel
16,88,Ponta Do Sol,PT,82.13,32.6667,-17.1000,Osprey Beach Hotel
17,96,Praia,CV,79.11,14.9215,-23.5087,Osprey Beach Hotel
18,100,Vung Tau,VN,84.16,10.3460,107.0843,Osprey Beach Hotel
19,107,Kamaishi,JP,80.06,39.2667,141.8833,Osprey Beach Hotel
20,108,Bocas Del Toro,PA,79.65,9.3333,-82.2500,Osprey Beach Hotel
21,109,Kijang,KR,83.93,35.2442,129.2139,Osprey Beach Hotel
22,118,Kavieng,PG,84.47,-2.5744,150.7967,Osprey Beach Hotel
23,122,Sumenep,ID,80.96,-7.0167,113.8667,Osprey Beach Hotel
24,135,Malaiba,PH,84.49,10.3333,123.3167,Osprey Beach Hotel
25,136,Umm Lajj,SA,81.72,25.0213,37.2685,Osprey Beach Hotel
26,141,Georgetown,MY,84.88,5.4112,100.3354,Osprey Beach Hotel
27,144,Hamilton,US,80.40,39.1834,-84.5333,Osprey Beach Hotel
28,148,Cayenne,GF,83.08,4.9333,-52.3333,Osprey Beach Hotel
29,166,Bambanglipuro,ID,79.52,-7.9500,110.2833,Osprey Beach Hotel
30,172,Mecca,SA,84.33,21.4267,39.8261,Osprey Beach Hotel
31,194,Mount Isa,AU,83.97,-20.7333,139.5000,Osprey Beach Hotel
32,198,Elizabeth City,US,82.42,36.2946,-76.2511,Osprey Beach Hotel
33,203,Dillon,US,78.15,34.4166,-79.3712,Osprey Beach Hotel
34,206,Luwuk,ID,84.72,-0.9516,122.7875,Osprey Beach Hotel
35,212,Itarema,BR,79.41,-2.9248,-39.9167,Osprey Beach Hotel
36,215,Cabo San Lucas,MX,84.61,22.8909,-109.9124,Osprey Beach Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

# check to get map working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Prompt the user to enter vacation_start/end, vacation_stop1, vacation_stop2, vacation_stop3.
input("Ready to Identify your vacation itinerary (Yes or No)")
vacation_start_city = input ("From what city will you start your vacation?")
vacation_stop_city = vacation_start_city
vacation_stop_1_city = input("What is the first city to stop in on your vacation?")
vacation_stop_2_city = input("What is the second city to stop in on your vacation?")
vacation_stop_3_city = input("What is the third city to stop in on your vacation?")

Ready to Identify your vacation itinerary (Yes or No) YEs
From what city will you start your vacation? Edgewater
What is the first city to stop in on your vacation? North Myrtle Beach
What is the second city to stop in on your vacation? Brigantine
What is the third city to stop in on your vacation? Hamilton

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop_1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_stop_2_city] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_stop_3_city]

In [15]:
vacation_start

   City_ID       City Country  Max Temp      Lat      Lng          Hotel Name
5       31  Edgewater      US     82.09  28.9889 -80.9023  Osprey Beach Hotel

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [17]:
# Note you will likely need to switch to jupyter Notebook

In [18]:
vacation_start

   City_ID       City Country  Max Temp      Lat      Lng          Hotel Name
5       31  Edgewater      US     82.09  28.9889 -80.9023  Osprey Beach Hotel

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# create a vacation itinerary layer
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2, stop3],
    travel_mode= "DRIVING"
)

fig.add_layer(vacation_itinerary)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,31,Edgewater,US,82.09,28.9889,-80.9023,Osprey Beach Hotel
1,61,North Myrtle Beach,US,81.10,33.8160,-78.6800,Osprey Beach Hotel
2,87,Brigantine,US,81.19,39.4101,-74.3646,Osprey Beach Hotel
3,144,Hamilton,US,80.40,39.1834,-84.5333,Osprey Beach Hotel

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [43]:

# get map 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.
# create marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))